<!--Player page for one track, from which you can add or skip the track -->

<div class="demo">
    <!--<header class="demo__header"></header>-->
    <div class="demo__content">
        <div class="demo__card-cont">
            <div class="demo__card">
                <img src="https://i.scdn.co/image/32a3a496df275792a463caf44233be163e8b97c2" style="width:200px"/>
                <!--<div class="demo__card__top blue">-->
                    <!--<div class="demo__card__img">-->
                        <!---->
                    <!--</div>-->
                    <!--<p class="demo__card__name">Hungry cat 2</p>-->
                <!--</div>-->
                <!--<div class="demo__card__btm">-->
                    <!--<p class="demo__card__we">Whatever</p>-->
                <!--</div>-->
                <div class="demo__card__choice m--reject"></div>
                <div class="demo__card__choice m--like"></div>
                <div class="demo__card__drag"></div>
            </div>
            <div class="demo__card">
                <img src="https://i.scdn.co/image/8d8f8ecac6a6ae0ea64d18bd3c54b2dfc20de4c2" style="width:200px"/>
                <!--<div class="demo__card__top purple">-->
                    <!--<div class="demo__card__img"></div>-->
                    <!--<p class="demo__card__name">Hungry cat</p>-->
                <!--</div>-->
                <!--<div class="demo__card__btm">-->
                    <!--<p class="demo__card__we">Whatever</p>-->
                <!--</div>-->
                <div class="demo__card__choice m--reject"></div>
                <div class="demo__card__choice m--like"></div>
                <div class="demo__card__drag"></div>
            </div>
        </div>
        <p class="demo__tip">Swipe left or right</p>
    </div>
</div>



<center>
    <img src="{{albumCover}}"/>
</center>
<h1>
	{{trackName}}
</h1>
<h2>
  {{artistName}}
</h2>
<button id="skipSong">Skip</button>
<button id="addSong">Add</button>
<br>
<div id="player">
  <audio controls autoplay>
    <source src={{previewURL}} type="audio/mpeg">
  </audio>
</div>
<br>
<span id="arrowHelp">
	<h4>
		(Or press LEFT to skip, and RIGHT to add)
	</h4>
</span>
<span id="playlistInfo">
	<h4>
		Currently playing recommended tracks based on the songs from '{{playlistName}}'.
		<a href="getRandomPlaylist" id="changePlaylist">
			(Want a different sound?)
		</a>
	</h4>
</span>
<span id="playlists">
    <h4>
        Do you want to pull tracks from other playlist?
        <ul class="playlists_list">
            {{#each playlists}}
                <li><a href="getTracks/{{this.id}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </h4>

</span>



<script type="text/javascript" src="javascripts/swipe.js"></script>
